<div class="row">
  <div class="small-12 columns">
    <h1>Lista de productos</h1>
    <%= link_to 'Nuevo producto', new_producto_path %>
    <% unless @productos.blank? %>
      <table id="tabla_productos">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Categoría</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @productos.each do |producto| %>
            <tr>
              <td><%= producto.nombre %></td>
              <td><%= producto.precio %></td>
              <td><%= producto.descripcion %></td>
              <td>
                <% unless producto.categoria.nil? %>
                  <%= producto.categoria.nombre %>
                <% end %>
              </td>
              <td><%= link_to 'Ver', producto %></td>
              <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
              <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3 class="text-center">No tienes productos</h3>
    <% end %>
  </div>
</div>