<div class="row">
  <div class="small-12 columns">
		<h1>Contactanos</h1>
	</div>
</div>

<div class="clear"></div>

<div class="row">
  <div class="small-7 large-7 columns">
  	<h3>Nuestros Productos</h3>
  	<ul class="clearing-thumbs small-block-grid-4" data-clearing>
		  <li>
		  	<%= link_to "/assets/imagen1.jpg" do %>
		  		<%= image_tag "imagen1.jpg", :style =>"height:120px" %>
		  	<% end %>
		  </li>
		  <li>
		  	<%= link_to "/assets/imagen2.jpg" do %>
		  		<%= image_tag "imagen2.jpg", :style =>"height:120px" %>
		  	<% end %>
		  </li>
		  <li>
		  	<%= link_to "/assets/imagen3.jpg" do %>
		  		<%= image_tag "imagen3.jpg", :style =>"height:120px" %>
		  	<% end %>
		  </li>
		  <li>
		  	<%= link_to "/assets/imagen4.jpg" do %>
		  		<%= image_tag "imagen4.jpg", :style =>"height:120px" %>
		  	<% end %>
		  </li>
		  <li>
		  	<%= link_to "/assets/imagen5.jpg" do %>
		  		<%= image_tag "imagen5.jpg" %>
		  	<% end %>
		  </li>
		  <li>
		  	<%= link_to "/assets/imagen6.jpg" do %>
		  		<%= image_tag "imagen6.jpg" %>
		  	<% end %>
		  </li>
		</ul>
  </div>
</div>

<div class="clear"></div>

<div class="row">
  <div class="small-12 columns">
  	<h3>Ubicación</h3>
  	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1665.1913616319864!2d-70.603802!3d-33.413265!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7a7538d60b24eee7!2sTitanium+La+Portada!5e0!3m2!1ses!2scl!4v1404269494339" width="600" height="450" frameborder="0" style="border:0"></iframe>
  </div>
</div>