<div class="row">
  <div class="small-12 columns">
		<h1>Contactanos</h1>
	</div>
</div>

<div class="row">
  <div class="small-7 large-7 columns">
		
  	<%= form_tag enviar_correo_path do %>
			<div class="name-field">
		    <label>Tu Nombre <small>requerido</small>
		      <input type="text" required pattern="[a-zA-Z]+" name="nombre">
		    </label>
		    <small class="error">Nombre Requerido.</small>
		  </div>
		  <div class="email-field">
		    <label>Email <small>requerido</small>
		      <input type="email" required name="email">
		    </label>
		    <small class="error">Email Requedido.</small>
		  </div>
		  <div class="name-field">
		    <label>Tus Comentarios <small>requerido</small>
		      <textarea placeholder="Escribe tus comentarios aquí" name="comantarios"></textarea>
		    </label>
		    <small class="error">Comentarios Requerido.</small>
		  </div>
			<%= submit_tag "Enviar", :class => "button" %>
		<% end %>

	</div>
</div>


<div class="clear"></div>

<div class="row">
  <div class="small-7 large-7 columns">
  	<h3>Nuestros Productos</h3>
  	<ul class="clearing-thumbs small-block-grid-4" data-clearing>
		  <li>
		  	<%= image_tag "imagen1.jpg", :style =>"height:120px" %>
		  </li>
		  <li>
		  	<%= image_tag "imagen2.jpg", :style =>"height:120px" %>
		  </li>
		  <li>
		  	<%= image_tag "imagen3.jpg", :style =>"height:120px" %>
		  </li>
		  <li>
		  	<%= image_tag "imagen4.jpg", :style =>"height:120px" %>
		  </li>
		  <li>
		  	<%= image_tag "imagen5.jpg" %>
		  </li>
		  <li>
		  	<%= image_tag "imagen6.jpg" %>
		  </li>
		</ul>
  </div>
</div>

<div class="clear"></div>

<div class="row">
  <div class="small-12 columns">
  	<h3>Ubicación</h3>
  	<h5>Nos ubicamos en Isidora Goyenechea 2800, local 206, Atrio Edificio Titanium</h5>
  	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1665.1913616319864!2d-70.603802!3d-33.413265!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7a7538d60b24eee7!2sTitanium+La+Portada!5e0!3m2!1ses!2scl!4v1404269494339" width="600" height="450" frameborder="0" style="border:0"></iframe>
  </div>
</div>