<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tea and Coffe New Pitas</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid">
      <nav id="menu_superior" class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <% if current_page? root_path or current_page? carta_path or current_page? sobre_nosotros_path or descuento_path or ofertas_path or carta_categoria_path %>
            <ul class="right">
              <li>
                <%= link_to "Nuestra carta", root_path %>
              </li>
              <li>
                <%= link_to "Descuentos", descuento_path %>
              </li>
              <li>
                <%= link_to "Ofertas", ofertas_path %>
              </li>
              <li>
                <%= link_to "Prensa", prensa_path %>
              </li>
              <li>
                <%= link_to "Concursos", concursos_path %>
              </li>
              <li>
                <%= link_to "Franquicias", franquicias_path %>
              </li>
              <li>
                <%= link_to "Sobre nosotros", sobre_nosotros_path %>
              </li>
            </ul>    
          <% end %>
        </section>
      </nav>
    </div>
    
    <section role="main">
      <div class="row">
        <div class="large-12 small-12 columns text-center">
          <%= link_to root_path, id: 'link_logo' do %>
            <%= image_tag "logo.png", id: 'logo' %>
          <% end %>
        </div>
        

      <%= yield %>

      </div>

      <div id="footer" class="row">
        <div id="contenido_footer" class="large-12 small-12 columns">
          <div id="redes_sociales">
            <h4>Siguenos en </h4>
            <a href="https://www.facebook.com/pages/Tea-and-coffee-new-pitas-crepes-waffles/222287811262785?fref=ts" target="_blank">
              <%= image_tag "facebook.png", size: "55x55" %>
            </a>

            <a href="https://twitter.com/Teaandcoffee_cl" target="_blank">
              <%= image_tag "twitter.png", size: "61x61" %>
            </a>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      $(function() {
        var footer = $("#footer");
        var pos = footer.position();
        var height = $(window).height();
        height = height - pos.top;
        height = height - footer.height();
        if (height > 0) {
          footer.css({
            'margin-top': height + 'px'
          });
        }
      });
    </script>
  </body>
</html>