<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid">
      <nav id="menu_superior" class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "New Pitas Tea and Coffee", public_index_path %></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <% if current_page? root_path or current_page? public_index_path or current_page? sobre_nosotros_path %>
            <ul class="right">
              <li>
                <%= link_to "Sobre nosotros", sobre_nosotros_path %>
              </li>
              <li>
                <%= link_to "Nuestra carta", public_index_path %>
              </li>
            </ul>    
          <% end %>
        </section>
      </nav>
    </div>
    
    <section role="main">

      <%= yield %>

    </section>

    
  </body>
</html>